@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-inter;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 dark:bg-slate-900 dark:text-white transition-colors duration-300;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-slate-600 rounded hover:bg-gray-500;
}
